.section {
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  height: 450px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}
.section-models {
  padding-top: 52px;
}
.row {
  position: relative;
  z-index: 1;
}

.choices {
  margin: 0 auto;
  list-style: none;
  /*padding: 0;*/
  /*margin: 0;*/
  cursor: auto;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.choice {
  text-align: center;
  width: 20%;
  margin: 1em;
  background-color: #FAFAFA;
}

.check {
  background: url('../../../assets/circle.png') no-repeat;
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  margin: 6px auto;
}

.choice .checked {
  background: url('../../../assets/check.png') no-repeat;
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  margin: 6px auto;
}

.form-choice-selector {
  display: inline-block;
  width: 100%;
  height: 100%;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -webkit-tap-highlight-color: transparent;
}

.form-choice {
  position: absolute;
  top: 3px;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  width: 16px;
  height: 16px;
}

.form-choice-selector-label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
  cursor: pointer;
  box-sizing: border-box;
  border-spacing: 0;
  overflow: hidden;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
}
.form-choice-selector-label:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.form-choice-selector-label.selected {
  border-color: #AEEEE1;
}

.form-label {
  position: relative;
  text-indent: 0;
  display: block;
  padding: 0px 14px;
  font-size: 1em;
  line-height: 1.28583;
  font-weight: bold;
  letter-spacing: -.05em;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;

}
.duration {
  font-size: 0.8em;
  opacity: 0.7;
}
