:host {
  display: block;
}

.section {
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  height: 450px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}
.section-models {
  padding-top: 52px;
}
.row {
  position: relative;
  z-index: 1;
}

.choices {
  margin: 0 auto;
  list-style: none;
  /*padding: 0;*/
  /*margin: 0;*/
  cursor: auto;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.choice {
  text-align: center;
  width: 20%;
  margin: 1em;
  background-color: #FAFAFA;
}

.check {
  background: url('../../../assets/circle.png') no-repeat;
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  margin: 6px auto;
}

.choice .checked {
  background: url('../../../assets/check.png') no-repeat;
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  margin: 6px auto;
}

.form-choice-selector {
  display: inline-block;
  width: 100%;
  height: 100%;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -webkit-tap-highlight-color: transparent;
}

.form-choice {
  position: absolute;
  top: 3px;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  width: 16px;
  height: 16px;
}

.form-choice-selector-label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
  cursor: pointer;
  box-sizing: border-box;
  border-spacing: 0;
  overflow: hidden;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
}
.form-choice-selector-label:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.form-choice-selector-label.selected {
  border-color: #AEEEE1;
}

.form-label {
  position: relative;
  text-indent: 0;
  display: block;
  padding: 0px 14px;
  font-size: 1em;
  line-height: 1.28583;
  font-weight: bold;
  letter-spacing: -.05em;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;

}
.duration {
  font-size: 0.8em;
  opacity: 0.7;
}
.choice.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.choice.disabled .form-choice-selector-label {
  border: none;
  color: rgba(0, 0, 0, 0.09);
}
.choice.disabled .form-label {
  color: rgba(0, 0, 0, 0.09);
}
.choice.disabled .form-choice-selector-label:hover {
  border: none;
}




/// new






html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

section {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

img {
  border: 0
}


img {
  vertical-align: middle
}

h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px
}

h1 {
  font-size: 36px
}

p {
  margin: 0 0 10px
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

.container:after, .container:before {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

@media (min-width:768px) {
  .container {
    width: 750px
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1040px
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px
}

.row:after, .row:before {
  content: " ";
  display: table
}

.row:after {
  clear: both
}

.col-md-3, .col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width:768px) {
  .col-sm-4 {
    float: left
  }
  .col-sm-4 {
    width: 33.33333333%
  }
}

@media (min-width:992px) {
  .col-md-3 {
    float: left;
    width: 25%;
    padding: 15px;
  }
}

@-ms-viewport {
  width: device-width
}

*, :after, :before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.gray-bg {
  background-color: #fafafa
}

.gray-bg {
  position: relative;
  overflow: hidden
}

.u-mb-0 {
  margin-bottom: 0!important
}

@media (max-width:767px) {
  .container {
    padding-right: 25px;
    padding-left: 25px
  }
}

.estimate-project__title {
  margin: 115px 0 30px;
  color: #000;
  font-size: 40px;
  font-family: inherit;
  text-align: center
}

.estimate-project__title:before {
  width: 35px;
  height: 2px;
  top: -25px;
  left: 50%;
  position: relative;
  display: block;
  margin-left: -17px;
  content: "";
  background: #132159
}

.estimate-project__subtitle {
  font-size: 14px;
  font-family: inherit;
  text-align: center;
  color: #999
}

.estimate-project__question-row {
  margin-top: 20px
}

@media (min-width:992px) {
  .estimate-project__question-row {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }
}

.estimate-project__question-container {
  margin-bottom: -12px;
  position: relative
}

@media (min-width:768px) {
  .estimate-project__question-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0
  }
}

.estimate-project__questions-section {
  position: relative;
  padding-bottom: 10px
}

.estimate-project__question {
  left: 10px;
  bottom: 19px;
  position: absolute;
  font-size: 18px;
  font-family: inherit;
  color: #000
}

@media (min-width:768px) {
  .estimate-project__question {
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

@media (min-width:992px) {
  .estimate-project__question {
    left: 0;
    transform: translateY(-50%)
  }
}

.estimate-project__question:before {
  width: 35px;
  height: 2px;
  bottom: 97px;
  position: absolute;
  display: block;
  content: "";
  background: #132159
}

@media (min-width:768px) {
  .estimate-project__question:before {
    top: -20px;
    bottom: auto
  }
}

.estimate-project__question-number {
  font-size: 126px;
  font-family: inherit;
  line-height: 1;
  font-weight: bold;
  color: #F8AC94
}

@media (min-width:768px) {
  .estimate-project__question-number {
    font-size: 200px;
    line-height: 230px
  }
}

.estimate-project__question-number-of {
  top: 10px;
  position: absolute;
  font-size: 53px
}

@media (min-width:768px) {
  .estimate-project__question-number-of {
    display: none
  }
}

.estimate-project__checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
  padding: 18px 20px;
  border-radius: 3px;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .06);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .06);
  cursor: pointer;
  transition: .3s
}

@media (min-width:768px) {
  .estimate-project__checkbox {
    display: block;
    height: 230px;
    margin-bottom: 30px;
    padding: 50px
  }
}

.estimate-project__checkbox:after {
  width: 28px;
  height: 28px;
  margin-left: auto;
  content: "";
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  content: "\F00C";
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  transition: .3s
}

@media (min-width:768px) {
  .estimate-project__checkbox:after {
    top: 15px;
    right: 15px;
    position: absolute;
    margin-left: 0
  }
}

.estimate-project__checkbox.active {
  border-color: #5FE6BE;
  box-shadow: 0 18px 32px 0 rgba(0, 0, 0, .1)
}

.estimate-project__checkbox.active:after {
  background: #5FE6BE;
  border-color: #5FE6BE
}

@media (min-width:768px) {
  .estimate-project__checkbox {
    margin-bottom: 0
  }
}

.estimate-project__checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 36px;
  margin-right: 22px
}

@media (min-width:768px) {
  .estimate-project__checkbox__icon {
    width: auto;
    height: auto;
    margin-right: 0
  }
}

.estimate-project__checkbox__icon img {
  width: auto!important;
  height: 36px!important
}

@media (min-width:768px) {
  .estimate-project__checkbox__icon img {
    height: 60px!important
  }
}

.estimate-project__checkbox__text {
  margin-right: 22px;
  font-size: 14px;
  font-family: inherit;
  color: #000;
  text-align: center
}

@media (min-width:768px) {
  .estimate-project__checkbox__text {
    margin: 45px 0 0;
    font-size: 14px
  }
}

.settings input[type=checkbox]:not(:checked) {
  position: absolute;
  left: 20px;
  z-index: 1000;
  transform: scale(1.4);
  opacity: 0;
  cursor: pointer
}

.settings input[type=checkbox]:not(:checked)+span {
  position: relative;
  padding-left: 30px
}

.settings input[type=checkbox]:not(:checked)+span:before {
  top: -3px;
  left: 3px;
  position: absolute;
  width: 16px;
  height: 16px;
  content: "";
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px
}

.settings input[type=checkbox]:not(:checked)+span:after {
  top: -3px;
  left: 3px;
  position: absolute;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5FE6BE;
  border-color: #5FE6BE;
  border-radius: 4px;
  content: "\F00C";
  font-family: FontAwesome;
  font-size: 12px;
  line-height: .8;
  color: #fff;
  transition: all .2s
}


.settings input[type=checkbox]:not(:checked)+span:after {
  opacity: 0;
  transform: scale(0)
}


.disabled .estimate-project__checkbox__text {
  color: rgba(0, 0, 0, 0.09);
}
.estimate-project__checkbox.disabled {
  border: none;
}

.disabled .hs-image-widget {
  opacity: 0.3;
}
.disabled {
  border: none !important;
  background-color: #fafafa;
  pointer-events: none !important;
  cursor: not-allowed !important;
  box-shadow: none;
}

@media screen and (max-width:450px) {
  .container {
    padding: 0;
  }


}

.ContactOptions__container___3r-1R {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.layout__margin-auto___3x3Ig {
  margin-left: auto;
  margin-right: auto;
}

.ActionBlock__container___3YbY1:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}

svg:not(:root) {
  overflow: hidden;
}
.ActionBlock__icon {
  fill: #00237e;
  width: 6rem;
  height: 6rem;
  margin-bottom: .25rem;
}

.ActionBlock__icon.disabled {
  fill: #DDD;
}

iframe, img, svg, video {
  max-width: 100%;
  vertical-align: middle;
}
*, :after, :before {
  box-sizing: inherit;
}

.ActionBlock__text___1OjzK {
  margin-bottom: .25rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
.typography__link-underline___2RjK1 {
  color: #00237e;
  padding-bottom: .125rem;
  border-bottom: 1px solid rgba(0,35,126,.25);
  -webkit-transition: border-color .15s ease-out;
  transition: border-color .15s ease-out;
  cursor: pointer;
}

.ActionBlock__container___3YbY1 {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 50%;
  padding: 6rem 3rem;
  background-color: #fff;
}
