
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

header, nav {
  display: block
}

a {
  background-color: transparent
}

a:active, a:hover {
  outline: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

button {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button {
  text-transform: none
}

button {
  -webkit-appearance: button;
  cursor: pointer
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

:root {
  --x-height-multiplier: 0;
  --baseline-multiplier: 0
}

@font-face {
  font-family: Cambria;
  src: local('Arial'), local('Helvetica');
  unicode-range: U+2500-259F
}

@-ms-viewport {
  width: device-width
}

body {
  font-family: "GT-Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, .8);
  font-size: 14px;
  line-height: 1.4
}

h1 {
  font-family: "GT-Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  font-style: normal
}

a {
  color: inherit;
  text-decoration: none
}

a, button {
  -webkit-tap-highlight-color: transparent
}

html {
  overflow-y: scroll
}

body, html {
  overflow-x: hidden
}

h1, ul {
  margin: 0
}

ul {
  padding: 0;
  list-style: none;
  list-style-image: none
}

@media screen and (max-device-width:1000px) {
  html {
    -webkit-text-size-adjust: none
  }
}


@keyframes fade-in-pulse-06 {
  0% {
    opacity: 0;
    transform: scale(.6)
  }
  50% {
    opacity: 1
  }
  100%, 70% {
    transform: scale(1)
  }
}

@keyframes fade-in-pulse-08 {
  0% {
    opacity: 0;
    transform: scale(.8)
  }
  50% {
    opacity: 1
  }
  100%, 70% {
    transform: scale(1)
  }
}

.u-flex {
  display: -ms-flexbox!important;
  display: flex!important
}

.u-flex1 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.u-floatRight {
  float: right!important
}

.u-inlineBlock {
  display: inline-block!important
}

.u-clearfix:after, .u-clearfix:before {
  display: table;
  content: " "
}

.u-clearfix:after {
  clear: both
}

.u-marginTop100 {
  margin-top: 100px!important
}

.u-marginBottom100 {
  margin-bottom: 100px!important
}

.u-paddingTop40 {
  padding-top: 40px!important
}

.u-paddingBottom40 {
  padding-bottom: 40px!important
}

.u-maxWidth1040 {
  max-width: 1040px!important
}

.u-sizeFullWidth {
  width: 100%!important
}

.u-sizeFullHeight {
  height: 100%!important
}

.u-borderTopLightest {
  border-top: 1px solid rgba(0, 0, 0, .05)!important
}

.u-fontSize16 {
  font-size: 16px!important
}

.u-fontWeightNormal {
  font-weight: 400!important
}

.u-fontWeightMedium {
  font-weight: 500!important
}

.u-textAlignRight {
  text-align: right!important
}
.u-textAlignCenter {
  text-align: center!important;
  display: flex;
  align-items: center;
}

.container {
  box-sizing: border-box
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto
}

.surface {
  top: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box
}

.surface:after, .surface:before {
  display: table;
  content: " "
}

.surface:after {
  clear: both
}

.screenContent {
  outline: 0;
  background-color: #fff
}

@media not print {
  .screenContent {
    height: 100%
  }
}

.button {
  display: inline-block;
  position: relative;
  height: 37px;
  padding: 0 16px;
  color: rgba(0, 0, 0, .44);
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .15);
  vertical-align: bottom;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  font-family: "GT-Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on
}

.button:active {
  outline: 0
}

.button {
  line-height: 35px
}

.button:hover {
  color: rgba(0, 0, 0, .6);
  border-color: rgba(0, 0, 0, .44)
}

.button:active, .button:focus {
  outline: 0;
  color: rgba(0, 0, 0, .8);
  border-color: rgba(0, 0, 0, .6)
}

.button {
  transition: .1s background-color, .1s border-color, .1s color, .1s fill
}

.button:active {
  transition: none
}

.button--unstyled, .button--unstyled:active, .button--unstyled:focus, .button--unstyled:hover {
  border-radius: 0;
  box-shadow: none;
  background: inherit;
  color: inherit;
  height: auto;
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-transform: inherit;
  border-width: 0;
  padding: 0;
  vertical-align: baseline;
  white-space: normal
}

.buttonSet>.button {
  margin-right: 8px;
  vertical-align: middle
}

.buttonSet>.button:last-child {
  margin-right: 0
}

.button--primary {
  color: #00ab6b
}

.button--primary {
  border-color: #02b875
}

.button--primary:active, .button--primary:focus, .button--primary:hover {
  border-color: #00ab6b;
  color: #1c9963
}

.buttonSet-label {
  font-size: 14px;
  color: rgba(0, 0, 0, .44);
  vertical-align: middle;
  margin-right: 10px
}

@media screen and (max-width:767px) {
  .button {
    height: 33px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 14px
  }
  .button--unstyled {
    height: auto;
    line-height: inherit;
    font-size: inherit;
    padding: 0
  }
  .buttonSet>.button {
    margin-right: 4px
  }
}
@media screen and (max-width:450px) {
  .container {
    padding: 0;
  }
  .button--unstyled, .button--unstyled:active, .button--unstyled:focus, .button--unstyled:hover {
    font-size: 12px;
  }

}

.button.is-touchIconFadeInPulse.is-touched:not(:active) .svgIcon, .link.is-touchIconFadeInPulse.is-touched:not(:active) .svgIcon {
  animation: fade-in-pulse-06 .1s
}

.button.is-active.is-touchIconFadeInPulse.is-touched:not(:active) .svgIcon, .link.is-active.is-touchIconFadeInPulse.is-touched:not(:active) .svgIcon {
  animation: fade-in-pulse-08 .3s
}

.heading {
  color: rgba(0, 0, 0, .8);
  font-size: 16px;
  letter-spacing: 0;
  position: relative
}

.heading--borderedTop {
  border-top: 1px solid rgba(0, 0, 0, .05)
}

.heading-tabs {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden
}

.heading-tabsItem {
  margin-right: 20px;
  color: rgba(0, 0, 0, .44)
}

.heading--borderedTop .heading-tabsItem {
  padding-top: 16px
}

.heading-tabsItem:last-child {
  margin-right: 0
}

.heading--borderedTop .heading-tabsItem.is-active {
  border-top: 1px solid rgba(0, 0, 0, .44)
}

.heading-tabsItem.is-active .heading-title {
  font-weight: 600;
  color: rgba(0, 0, 0, .8)
}

.hero {
  text-align: center;
  height: 500px
}

.hero-title {
  font-family: "GT-Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  margin-left: -2.75px;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #00237E;
  margin-bottom: 8px;
  outline: 0;
  word-break: break-word;
  word-wrap: break-word
}

.hero--compact .hero-title {
  float: left
}

.hero--alignLeft {
  text-align: left
}

.hero--standalone {
  padding-top: 100px;
  padding-bottom: 40px;
  height: auto;
  display: flex;
}

@media screen and (max-width:767px) {
  .hero--standalone {
    padding: 0;
    margin-bottom: 10px
  }
  .hero--standalone .hero-title {
    font-size: 18px;
    margin-left: -1.13px;
    height: 44px;
    line-height: 46px;
    margin: 0 -6px 20px;
    padding: 10px 0 10px;
    text-align: left
  }
  .hero--standalone:after {
    display: none
  }
  .hero--compact .hero-title, .hero--compact.hero--standalone {
    float: none;
    margin-bottom: 18px;
    margin-left: 0;
  }
}

@media print {
  body {
    overflow: hidden
  }
  @page {
    margin-top: .75in;
    margin-bottom: .75in
  }
  body {
    color: #000;
    orphans: 2;
    widows: 2
  }
}


.insertSectionControl .button {
  background: #fff;
}
.button--small.button--expandable {
  width: 32px;
  padding: 0;
}
.button--small {
  height: 32px;
  line-height: 30px;
  padding: 0 14px;
  font-size: 12px;
}
.button--withIconAndLabel {
  line-height: 35px;
}
//.button--expandable {
//  padding: 0;
//  width: 37px;
//  text-align: center;
//}

button.invalid {
  color: rgba(1, 1, 1, 0.5);
  background-color: rgba(0, 0, 0, 0.14);
  // border:1px solid rgba(0, 0, 0, 0.14);
  border: none;
  opacity: 0.5;
  cursor: default;
}

button.active {
  color: #FFFFFF;
  background-color: #5FE6BE;
  border: none;
  opacity: 1;
}

button.active:hover {
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .06);

}

.u-accentColor--textDarken {
  color: #5FE6BE;
}
