
.metabar {
  position: absolute;
  display: block;
  z-index: 500;
  width: 100%;
  font-size: 14px;
  background: #fff;
  color: rgba(0, 0, 0, 0.44);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  top: 0;
}

.metabar-inner {
  position: relative;
  &:after, &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

.metabar .popovercustom {
  color: rgba(0, 0, 0, 0.8);
}

.metabar--spacer {
  position: relative;
  z-index: 100;
}

.metabar-block:not(.metabar-block--center) {
  position: relative;
  z-index: 500;
}

.metabar {
  .buttonSet, .inputGroup {
    margin: 10px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
  }
  .buttonSet, .inputGroup {
    line-height: 44px;
  }
  .buttonSet {
    &:last-child {
      margin-right: 0;
    }
    .inputGroup {
      margin: 0;
    }
  }
}

.metabar-block--below {
  box-sizing: border-box;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
}

.metabar-navItem {
  padding: 10px 20px 18px 0;
  &:last-child {
    padding-right: 0;
  }
}

.metabar-predictiveSearch {
  display: inline-block;
  min-width: 32px;
}

.inputGroup.metabar-predictiveSearch .textInput {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 37px;
  border: none;
  transition: width .2s, padding .2s;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  &:focus {
    padding-left: 10px;
    width: 200px;
    cursor: text;
  }
}

@media screen and (max-width: 767px) {
  .metabar--spacer {
    position: relative;
  }
  .metabar .buttonSet {
    margin-top: 9px;
    line-height: 33px;
  }
}

@media print {
  .metabar {
    display: none;
  }
}



.site-main {
  height: 100%;
  background: #fff;
}

.siteNav-logo {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 14px;
  z-index: 700;
  border: 0;
}

.metabar .siteNav-logo {
  padding-left: 0;
  margin-left: -4px;
}

.notificationsList {
  margin-bottom: 0;
}

.notificationsList-item {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.notificationsList-button {
  display: block;
  min-height: 20px;
  padding: 18px 10px 16px 82px;
  color: rgba(0, 0, 0, 0.44);
  line-height: 1.4;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
}

.notificationsList-userAvatarIcon {
  position: absolute;
  overflow: hidden;
  top: 28px;
  left: 33px;
}

.popovercustom .list-item--separator {
  padding-bottom: 0;
  margin-bottom: 5px;
}

.notificationsList-author, .notificationsList-title {
  color: rgba(0, 0, 0, 0.8);
}

.notificationsList-title--oneLine {
  display: block;
  box-sizing: border-box;
  height: 19px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.notificationsList-actions {
  padding: 16px 20px 14px;
}

.notificationsList-timestamp {
  font-size: 12px;
  margin-top: 1px;
}

@media screen and (min-width: 991px) {
  .notificationsList-button:hover {
    color: rgba(0, 0, 0, 0.6);
    outline: 0;
  }
}

@media screen and (max-width: 991px) {
  .notificationsList-button {
    padding-top: 20px;
    padding-bottom: 19px;
  }
}

@media screen and (max-width: 767px) {
  .siteNav-logo {
    padding-top: 5px;
    padding-left: 12px;
  }
}

.popover--userActions {
  width: 250px;
  &.popover--globalNav .list-item {
    &:hover > .button {
      color: rgba(0, 0, 0, 0.8);
    }
    > .button {
      padding: 7px 25px;
    }
  }
}

.popover--globalNav {
  .notificationsList-userAvatarIcon {
    left: 16px;
  }
  .notificationsList-button {
    padding-left: 66px;
    padding-right: 16px;
  }
  .notificationsList-userAvatarIcon {
    top: 50%;
    margin-top: -19px;
  }
}

@media screen and (max-width: 767px) {
  .popover--globalNav {
    position: relative;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    width: 100% !important;
    height: auto !important;
    margin: auto;
    margin-top: -6px;
    > .popover-inner {
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;
      overflow: visible !important;
      border-radius: 0;
    }
  }
  .button.is-inSiteNavBar {
    margin-right: 10px;
  }
}

.metabar {
  z-index: 9999;
}
