
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

section {
  display: block
}

a {
  background-color: transparent
}

a:active, a:hover {
  outline: 0
}

strong {
  font-weight: 700
}

svg:not(:root) {
  overflow: hidden
}

button, input {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button {
  text-transform: none
}

button {
  -webkit-appearance: button;
  cursor: pointer
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

fieldset {
  border: none;
  margin: 0;
  padding: 0
}

:root {
  --x-height-multiplier: 0;
  --baseline-multiplier: 0
}

@font-face {
  font-family: Cambria;
  src: local('Arial'), local('Helvetica');
  unicode-range: U+2500-259F
}

@-ms-viewport {
  width: device-width
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, .8);
  font-size: 18px;
  line-height: 1.4
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  font-style: normal
}

a {
  color: inherit;
  text-decoration: none
}

a, button, input {
  -webkit-tap-highlight-color: transparent
}

html {
  overflow-y: scroll
}

body, html {
  overflow-x: hidden
}

form, h3, p {
  margin: 0
}

p {
  margin-bottom: 30px
}

@media screen and (max-device-width:1000px) {
  html {
    -webkit-text-size-adjust: none
  }
}

@media print {
  h3 {
    page-break-after: avoid;
    page-break-inside: avoid
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
  }
}

@keyframes fade-in-pulse-06 {
  0% {
    opacity: 0;
    transform: scale(.6)
  }
  50% {
    opacity: 1
  }
  100%, 70% {
    transform: scale(1)
  }
}

@keyframes fade-in-pulse-08 {
  0% {
    opacity: 0;
    transform: scale(.8)
  }
  50% {
    opacity: 1
  }
  100%, 70% {
    transform: scale(1)
  }
}

.u-flexEnd {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-align: end!important;
  align-items: flex-end!important
}

.u-flexColumn {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
  -ms-flex-pack: center!important;
  justify-content: center!important
}

.u-flex {
  display: -ms-flexbox!important;
  display: flex!important
}

.u-flex1 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

@media (max-width:767px) {
  .u-xs-flexWrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

.u-block {
  display: block!important
}

.u-hide {
  display: none!important
}

.u-borderBox {
  box-sizing: border-box!important
}

.u-margin0 {
  margin: 0!important
}

.u-marginTop0 {
  margin-top: 0!important
}

.u-marginBottom0 {
  margin-bottom: 0!important
}

.u-marginBottom15 {
  margin-bottom: 15px!important
}

.u-marginTop20 {
  margin-top: 20px!important
}

.u-marginRight20 {
  margin-right: 20px!important
}

.u-marginBottom30 {
  margin-bottom: 30px!important
}

.u-marginTop40 {
  margin-top: 40px!important
}

.u-marginBottom40 {
  margin-bottom: 40px!important
}

.u-marginAuto {
  margin-left: auto!important;
  margin-right: auto!important
}

.u-marginTop60 {
  margin-top: 60px!important
}
.u-marginBottom60 {
  margin-bottom: 60px!important
}

@media screen and (max-width:767px) {
  .u-xs-marginBottom20 {
    margin-bottom: 20px!important
  }
  .u-xs-marginTop30 {
    margin-top: 30px!important
  }
}

.u-padding0 {
  padding: 0!important
}

.u-paddingTop20 {
  padding-top: 20px!important
}

.u-paddingBottom20 {
  padding-bottom: 20px!important
}

.u-paddingLeft30 {
  padding-left: 30px!important
}

.u-paddingRight30 {
  padding-right: 30px!important
}

.u-paddingTop40 {
  padding-top: 40px!important
}

.u-paddingBottom40 {
  padding-bottom: 40px!important
}

.u-paddingLeft35 {
  padding-left: 35px!important
}

.u-padding40 {
  padding: 40px!important
}
.u-padding20 {
  padding: 20px!important
}


@media (max-width:767px) {
  .u-xs-padding20 {
    padding: 20px!important
  }
}

.u-relative {
  position: relative!important
}

.u-height20 {
  height: 20px!important
}

.u-maxWidth1000 {
  max-width: 1000px!important
}

.u-minHeight25 {
  min-height: 25px!important
}

.u-minHeight250 {
  min-height: 250px!important
}

@media screen and (max-width:991px) {
  .u-sm-minHeight150 {
    min-height: 150px!important
  }
}

@media screen and (max-width:767px) {
  .u-xs-minHeight100 {
    min-height: 100px!important
  }
}

.u-sizeFullWidth {
  width: 100%!important
}

.u-sizeFullHeight {
  height: 100%!important
}

.u-sizeHalfWidth {
  width: 50%!important
}

@media screen and (max-width:767px) {
  .u-xs-sizeFullWidth {
    width: 100%!important
  }
}

.u-backgroundWhite {
  background: #fff!important
}

.u-backgroundNavyBlue {
  background-color: #384368
}

.u-borderTopGreen {
  border-top: 1px solid #5FE6BE!important
}

.u-borderBottomGreen {
  border-bottom: 1px solid #5FE6BE!important
}

.u-boxShadowThick {
  //box-shadow: 0 5px 30px -6px rgba(0, 0, 0, .15)
}

.u-textColorNormal {
  color: rgba(0, 0, 0, .44)!important;
  fill: rgba(0, 0, 0, .44)!important
}

.u-textColorTransparentWhiteDarker {
  color: rgba(255, 255, 255, .85)!important;
  fill: rgba(255, 255, 255, .85)!important
}

.u-textColorWhite {
  color: #fff!important;
  fill: #fff!important
}

.u-contentSansRegular {
  --x-height-multiplier: 0.363!important;
  --baseline-multiplier: 0.157!important;
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif!important;
  letter-spacing: -.02em!important;
  font-weight: 400!important;
  font-style: normal!important
}

.u-contentSansBold {
  --x-height-multiplier: 0.363!important;
  --baseline-multiplier: 0.157!important;
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif!important;
  letter-spacing: -.02em!important;
  font-weight: 600!important;
  font-style: normal!important
}


.u-contentSerifBold {
  --x-height-multiplier: 0.35!important;
  --baseline-multiplier: 0.179!important;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif!important;
  letter-spacing: .01rem!important;
  font-weight: 700!important;
  font-style: normal!important
}

.u-fontSize14 {
  font-size: 14px!important
}

.u-fontSize18 {
  font-size: 18px!important
}

.u-fontSize40 {
  font-size: 40px!important
}

@media screen and (max-width:767px) {
  .u-xs-fontSize24 {
    font-size: 24px!important
  }
}

.u-fontWeightBold {
  font-weight: 700!important
}

.u-lineHeightTight {
  line-height: 1.2!important
}

.u-letterSpacingNormal {
  letter-spacing: 0!important
}

.u-textAlignCenter {
  text-align: center!important
}

.svgIcon {
  display: inline-block
}

.svgIcon--19px {
  line-height: 19px;
  height: 19px
}

.button {
  display: inline-block;
  position: relative;
  height: 37px;
  padding: 0 16px;
  color: rgba(0, 0, 0, .44);
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .15);
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on
}

.button:active {
  outline: 0
}

.button {
  line-height: 35px
}

.button:hover {
  opacity: .8;
}

//.button:active, .button:focus {
//  outline: 0;
//  color: rgba(0, 0, 0, .8);
//  border-color: rgba(0, 0, 0, .6)
//}

.button, .button .svgIcon {
  transition: .1s background-color, .1s border-color, .1s color, .1s fill
}

.button:active, .button:active .svgIcon {
  transition: none
}

.button--chromeless {
  border-radius: 0;
  box-shadow: none;
  height: auto;
  line-height: inherit;
  border-width: 0;
  padding: 0;
  vertical-align: baseline;
  color: rgba(0, 0, 0, .44);
  white-space: normal;
  text-align: left
}

.button--chromeless:active, .button--chromeless:focus, .button--chromeless:hover {
  color: rgba(0, 0, 0, .6);
  border-width: 0
}

.button .svgIcon {
  vertical-align: middle;
  fill: rgba(0, 0, 0, .44)
}

.button:hover .svgIcon {
  fill: rgba(0, 0, 0, .44)
}

.button:active .svgIcon, .button:focus .svgIcon {
  fill: rgba(0, 0, 0, .8)
}

.button--chromeless .svgIcon {
  fill: rgba(0, 0, 0, .44)
}

.button--chromeless:hover .svgIcon {
  fill: rgba(0, 0, 0, .8)
}

.button--chromeless:active .svgIcon, .button--chromeless:focus .svgIcon {
  fill: rgba(0, 0, 0, .9)
}

.button--withSvgIcon .svgIcon {
  top: -1px;
  position: relative
}

.button--large {
  height: 44px;
  padding: 0 18px
}

.button--large {
  line-height: 42px
}

.button--large {
  font-size: 15px
}

.button--primary {
  color: #5FE6BE
}

.button--primary {
  border-color: #5FE6BE
}

.button--primary:active, .button--primary:focus, .button--primary:hover {
  border-color: #5FE6BE;
  color: #5FE6BE
}

.button--filled {
  color: #fff
}

.button--filled {
  background: #5FE6BE;
  border-color: #5FE6BE
}

.button--filled:active, .button--filled:focus, .button--filled:hover {
  background: #5FE6BE;
  border-color: #5FE6BE;
  color: #fff
}

.button--lighter .svgIcon {
  fill: rgba(0, 0, 0, .15)
}

.button--lighter:active .svgIcon, .button--lighter:focus .svgIcon, .button--lighter:hover .svgIcon {
  fill: rgba(0, 0, 0, .44)
}
button.valid {
  color: #FFFFFF;
  background-color: #5FE6BE;
  border-color: #5FE6BE;
  opacity: 1;
}
button.invalid {
  color: rgba(1, 1, 1, .5);
  background-color: rgba(0, 0, 0, .14);
  border: none;
  opacity: 0.5;
  cursor: default;
}
button.invalid:hover {
  color: rgba(1, 1, 1, .5);
  border: none;
}
@media screen and (max-width:767px) {
  .button {
    height: 33px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 14px
  }
  .button--chromeless {
    line-height: inherit;
    vertical-align: baseline;
    height: auto;
    padding: 0
  }
  .button--large {
    height: 37px;
    line-height: 35px;
    font-size: 14px;
    padding: 0 16px
  }
  .button--withSvgIcon {
    line-height: normal
  }
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer
}

.link:active, .link:focus, .link:hover {
  color: inherit;
  //text-decoration: underline
}

.link--underline {
  //text-decoration: underline
}

.button.is-touchIconFadeInPulse.is-touched:not(:active) .svgIcon, .link.is-touchIconFadeInPulse.is-touched:not(:active) .svgIcon {
  animation: fade-in-pulse-06 .1s
}

.button.is-active.is-touchIconFadeInPulse.is-touched:not(:active) .svgIcon, .link.is-active.is-touchIconFadeInPulse.is-touched:not(:active) .svgIcon {
  animation: fade-in-pulse-08 .3s
}

.textInput {
  border: 1px solid rgba(0, 0, 0, .15);
  padding: 0 5px;
  height: 35px;
  font-size: 14px;
  outline: 0;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal
}

.textInput--transparent {
  background: 0 0
}

.textInput--transparent {
  background: 0 0
}

.textInput--underlined {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0
}

.creditCardForm {
  font-family: "GT-Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  max-width: 600px
}

.creditCardForm-heading {
  font-family: "GT-Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, .44);
  font-size: 14px
}

.button {
  font-family: "GT-Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.creditCardForm--saved {
  display: none
}

.creditCardForm--input {
  display: block
}

.creditCardForm--error {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  display: none;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 35px;
  color: #cc5454
}



@media (max-width:767px) {
  .creditCardForm-cvc, .creditCardForm-expiration {
    width: 100%
  }
  .creditCardForm .textInput {
    font-size: 16px
  }
}
.u-backgroundGrey {
  background-color: rgba(0, 0, 0, .15);
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

fieldset div:not(:last-child) {
  padding-bottom: 2em;
}
button.valid {
  color: #FFFFFF;
  background-color: #5FE6BE;
  border-color: #5FE6BE;
  opacity: 1;
}

.theme {
  font-family: "GT-Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.headline {
  color: #5FE6BE;
}
