.button {
  display: inline-block;
  padding: 0 25px;
  margin-bottom: 15px;
  height: 40px;
  line-height: 38px;
  font-family: "GT-Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  white-space: nowrap;
  color: rgba(0, 0, 0, .44);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 20px;
  -webkit-transition-property: border-color, color, background-color;
  transition-property: border-color, color, background-color;
  -webkit-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.button+.button {
  margin-left: 4px
}

.button:hover {
  color: rgba(0, 0, 0, .6);
  border-color: rgba(0, 0, 0, .3)
}

.button--small {
  margin-bottom: 0;
  padding: 0 20px;
  height: 37px;
  line-height: 35px
}

.button--primary {
  color: #fff;
  background: #00ab6b;
  border-color: #00ab6b
}

.button--primary:hover {
  color: #fff;
  border-color: #00ab6b;
  background: #1c9963
}
