<!--<div class="metabar metabar&#45;&#45;spacer u-height65 u-xs-height56"></div>-->
<div class="u-clearfix u-sizeViewHeightMin100 u-backgroundGrayLightest profile">
  <div class="u-foreground">
    <div class=" u-borderBottomGrayLightest u-boxShadowBottom">
      <div class=" u-backgroundWhite">
        <div *ngIf="profile"
             class="profile container u-maxWidth640 u-paddingBottom30 u-xs-paddingBottom20 u-paddingTop20 u-backgroundWhite u-borderRadiusTop4 u-xs-borderRadiusTop0">
          <div class="label label--smaller u-inlineBlock ">{{ profile.email }}
          </div>

          <header class="hero hero--profile u-maxWidth1040">
            <div class="hero-avatar u-floatRight u-relative">
              <div class="avatar">
                <img alt="profile" class="avatar-image u-size100x100 u-xs-size80x80 u-width100"
                     [src]="profile.photoURL">
              </div>
            </div>
            <h1 class="hero-title">{{ profile.displayName}}</h1>
            <!--<p class="hero-description">NY interactive developer-->
            <!--<a href="#">@justmelnyc</a>, passionate about code-->
            <!--&amp; motion. Graduate from-->
            <!--<a href="#">@other_account</a>Test Account.</p>-->
          </header>
          <div class="label label--smaller u-paddingTop10 u-paddingBottom10"></div>
          <div class="buttonSet buttonSet--profile u-noWrap">
            <!--<a class="button button&#45;&#45;chromeless u-baseColor&#45;&#45;buttonNormal" href="#" title="title">-->
              <!--<span class="u-fontWeightBold">1</span> Active</a>-->
            <a class="button button--chromeless u-baseColor--buttonNormal">
              <b>{{ (reservations$ | async )?.length}}</b> Reservations</a>
          </div>
          <div class="dropdown--button buttonSet buttonSet--profile u-inlineBlock">
            <span class="followState buttonSet-inner">
              <button
                class="button u-noUserSelect button--withChrome u-baseColor--buttonNormal button--withHover button--unblock">
                <span class="followState  buttonSet-inner">
                  <span class="followState  buttonSet-inner">
                    <span class="button-label button-defaultState">Blocked</span>
                    <span class="button-label button-hoverState">Unblock</span></span>
                  <button
                    class="button button--primary u-noUserSelect button--withChrome u-accentColor--buttonNormal button--follow">
                    <span class="button-label button-defaultState">Follow</span>
                    <span class="button-label button-activeState">Following</span>
                  </button>
                  <button
                    class="button button--chromeless is-touchIconBlackPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon">
                    <span class="svgIcon svgIcon--arrowDown svgIcon--21px">
                      <svg class="svgIcon-use" height="21" viewbox="0 0 21 21" width="21"> <path
                        d="M4 7.331l6.032 6.67.495.547.495-.547 5.973-6.603-.989-.895-5.974 6.603h.99l-6.033-6.67z"
                        fill-rule="evenodd"></path></svg>
                    </span>
                  </button>
                </span>
              </button>
            </span>
          </div>
        </div>

        <!--<nav class="u-maxWidth640 container">-->
          <!--<ul class="browsableStreamTabs u-borderTopLightest">-->
            <!--<li class="browsableStreamTabs-item">-->
              <!--<a class="link link&#45;&#45;darken u-accentColor&#45;&#45;textDarken u-baseColor&#45;&#45;link"-->
                 <!--routerLink="/profile"-->
                 <!--routerLinkActive="link&#45;&#45;darker"-->
                 <!--[routerLinkActiveOptions]="{exact: true}">Profile</a>-->
            <!--</li>-->
            <!--<li class="browsableStreamTabs-item">-->
              <!--<a class="link link&#45;&#45;darken u-accentColor&#45;&#45;textDarken u-baseColor&#45;&#45;link"-->
                 <!--routerLink="reservations"-->
                 <!--routerLinkActive="link&#45;&#45;darker">Reservations</a>-->
            <!--</li>-->
            <!--<li class="browsableStreamTabs-item">-->
              <!--<a class="link link&#45;&#45;darken u-accentColor&#45;&#45;textDarken u-baseColor&#45;&#45;link"-->
                 <!--routerLink="messages"-->
                 <!--routerLinkActive="link&#45;&#45;darker">Messages</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</nav>-->

        <!--<div class="u-sizeFullHeight u-clearfix">-->
          <!--<div class="container u-maxWidth1040">-->
            <!--<nav class="u-flex heading heading&#45;&#45;borderedTop u-textAlignCenter">-->
              <!--&lt;!&ndash;<span class="u-flex1"></span>&ndash;&gt;-->
              <!--<ul class="heading-tabs">-->
                <!--<li class="heading-tabsItem u-inlineBlock is-active">-->
              <!--<span class="u-flex1">-->
                <!--<span class="heading-title u-inlineBlock u-fontWeightNormal">-->
                  <!--<a class="button button&#45;&#45;unstyled is-touched"-->
                     <!--routerLink="/profile"-->
                     <!--routerLinkActive=" is-active"-->
                     <!--[routerLinkActiveOptions]="{exact: true}">Profile</a>-->

                <!--</span>-->

              <!--</span>-->

                <!--</li>-->
                <!--<li class="heading-tabsItem u-inlineBlock is-active">-->
              <!--<span class="u-flex1">-->
                <!--<span class="heading-title u-inlineBlock u-fontWeightNormal">-->
                  <!--<a class="button button&#45;&#45;unstyled is-touched"-->
                     <!--routerLink="reservations"-->
                     <!--routerLinkActive=" is-active">Reservations</a>-->

                <!--</span>-->

              <!--</span>-->

                <!--</li>-->
              <!--</ul>-->
            <!--</nav>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="u-maxWidth640 u-marginAuto" style="padding-top: 2em">
      <div class="streamItem streamItem--heading">
        <div class="streamItemHeading u-marginAuto u-maxWidth700 u-xs-marginLeft20 u-xs-marginRight20">
          <header class="heading u-clearfix heading--streamSection">
            <div class="u-clearfix">
              <div class="heading-content u-floatLeft">
                <span class="heading-title heading-title--semibold">Reservations</span>
              </div>
            </div>
          </header>
        </div>
      </div>
      <div *ngFor="let reservation of (reservations$ | async )" class="streamItem streamItem--postPreview">
        <div class="streamItem-card streamItem-card--postPreview u-paddingRight20 u-paddingLeft20 u-borderRadius3 cardChromeless">
          <div class="streamItem-cardInner streamItem-cardInner--postPreview">
            <div class="postArticle postArticle--short">
              <div class="u-clearfix u-marginBottom10">
                <div class="postMetaInline u-floatLeft">
                  <div class="u-flexCenter">
                    <div class="postMetaInline-avatar u-flex0">
                      <a class="link avatar u-baseColor--link">
                        <img alt="Go to the profile of Florian" class="avatar-image u-size36x36 u-xs-size32x32"
                             [src]="profile.photoURL"></a>
                    </div>
                    <div class="u-fontSize12 u-baseColor--textNormal u-textColorNormal" style="padding-left: 1em">
                      <a class="link link--darken">
                        <span>{{ reservation?.start | date: 'EEEE d' }} @ {{ reservation?.time | time}}</span>
                      </a>
                      <span class="middotDivider u-fontSize12"></span>
                      <span class="readingTime">for {{reservation?.reservation.type}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-clearfix u-paddingTop10">
                <div class="buttonSet buttonSet--withLabels u-floatLeft">
                  <div class="buttonSet-inner">
                    <div class="">
                      <!--<button-->
                        <!--class="button button&#45;&#45;primary button&#45;&#45;chromeless is-touchIconFadeInPulse u-accentColor&#45;&#45;buttonNormal button&#45;&#45;withIcon button&#45;&#45;withSvgIcon u-accentColor&#45;&#45;iconLight"-->
                        <!--title="button"><span class="button-defaultState"><span-->
                        <!--class="svgIcon svgIcon&#45;&#45;heart svgIcon&#45;&#45;25px is-flushLeft"><svg class="svgIcon-use" height="25"-->
                                                                                       <!--viewbox="0 0 25 25" width="25">-->
    <!--<path-->
      <!--d="M12.5 21a.492.492 0 0 1-.327-.122c-.278-.24-.61-.517-.978-.826-2.99-2.5-7.995-6.684-7.995-10.565C3.2 6.462 5.578 4 8.5 4c1.55 0 3 .695 4 1.89a5.21 5.21 0 0 1 4-1.89c2.923 0 5.3 2.462 5.3 5.487 0 3.97-4.923 8.035-7.865 10.464-.42.35-.798.66-1.108.93a.503.503 0 0 1-.327.12zM8.428 4.866c-2.414 0-4.378 2.05-4.378 4.568 0 3.475 5.057 7.704 7.774 9.975.243.2.47.39.676.56.245-.21.52-.43.813-.68 2.856-2.36 7.637-6.31 7.637-9.87 0-2.52-1.964-4.57-4.377-4.57-1.466 0-2.828.76-3.644 2.04-.1.14-.26.23-.43.23-.18 0-.34-.09-.43-.24-.82-1.27-2.18-2.03-3.65-2.03z"-->
      <!--fill-rule="evenodd"></path></svg></span></span> <span class="button-activeState"><span-->
                        <!--class="svgIcon svgIcon&#45;&#45;heartFilled svgIcon&#45;&#45;25px is-flushLeft"><svg class="svgIcon-use"-->
                                                                                             <!--height="25"-->
                                                                                             <!--viewbox="0 0 25 25"-->
                                                                                             <!--width="25">-->
    <!--<path-->
      <!--d="M12.5 21a.492.492 0 0 1-.327-.122c-.278-.24-.61-.517-.978-.826-2.99-2.5-7.995-6.684-7.995-10.565C3.2 6.462 5.578 4 8.5 4c1.55 0 3 .695 4 1.89a5.21 5.21 0 0 1 4-1.89c2.923 0 5.3 2.462 5.3 5.487 0 3.97-4.923 8.035-7.865 10.464-.42.35-.798.66-1.108.93a.503.503 0 0 1-.327.12z"-->
      <!--fill-rule="evenodd"></path></svg></span></span></button>-->
                      <!--<button class="button button&#45;&#45;chromeless u-baseColor&#45;&#45;buttonNormal u-disablePointerEvents">150-->
                      <!--</button>-->
                    </div>
                  </div>
                </div>
                <div class="buttonSet u-floatRight">
                  <div class="buttonSet-inner">
                    <a class="button button--chromeless u-baseColor--buttonNormal">{{currentStatus(reservation)}}</a>
                    <!--<button  class="button button&#45;&#45;chromeless is-touchIconFadeInPulse u-baseColor&#45;&#45;buttonNormal button&#45;&#45;withIcon button&#45;&#45;withSvgIcon button&#45;&#45;bookmark">-->
                      <!--<span class="button-defaultState">-->
                        <!--<span class="svgIcon svgIcon&#45;&#45;bookmark svgIcon&#45;&#45;25px">-->
                          <!--<svg class="svgIcon-use" height="25" viewbox="0 0 25 25" width="25">-->
                            <!--<path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></span></span>-->
                      <!--<span class="button-activeState">-->
                        <!--<span class="svgIcon svgIcon&#45;&#45;bookmarkFilled svgIcon&#45;&#45;25px">-->
                          <!--<svg class="svgIcon-use" height="26" viewbox="0 0 25 26" width="25">-->
                            <!--<path d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z"-->
      <!--fill-rule="evenodd"></path></svg></span></span></button>-->
                    <!--<button class="button button&#45;&#45;chromeless is-touchIconBlackPulse u-baseColor&#45;&#45;buttonNormal button&#45;&#45;withIcon button&#45;&#45;withSvgIcon">-->
                      <!--<span class="svgIcon svgIcon&#45;&#45;arrowDown svgIcon&#45;&#45;19px is-flushRight">-->
                        <!--<svg class="svgIcon-use" height="19" viewbox="0 0 19 19" width="19">-->
                            <!--<path d="M3.9 6.772l5.205 5.756.427.472.427-.472 5.155-5.698-.854-.772-4.728 5.254L4.753 6z"-->
          <!--fill-rule="evenodd"></path></svg></span></button>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<pre>{{(reservations$ | async ) | json}}</pre>-->
    <!--<item-list [items]="reservations$ || []" [showActionButton]="true" [showUserInfo]="false"></item-list>-->
    <!--<router-outlet></router-outlet>-->
  </div>
</div>
