.popovercustom {
  z-index: 19999;
}
.button {
  margin-bottom: 0px;
}
.popover--userActions {
  top: 52px;
}
.overlay-inner {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}
.overlay {
}

.popover-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 900;
  //background-color: rgba(255, 255, 255, 0.97);
  padding: 0;
  margin: 0;
  border: 0;
}


.popover-menu-content {
  right: -110px;
}
.popover-arrow {
  left: 50%;
}
@media screen and (max-width: 1200px) {
  .popover-menu-content {
    right: 0;
  }

  .popover-arrow {
    right: 40px;
    left: initial;
  }

  .metabar .buttonSet:last-child {
    margin-right: 30px;
  }
}
