svg {
  margin: 2em 0;
}
.section {
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  height: 450px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.section-models {
  padding-top: 52px;
}


.column {
  position: relative;
  z-index: 1;
  min-height: 2px;
  margin: 0;
  padding: 0;
  float: left;
}
.column-date {
  width: 18%;
}
.column-prev-next {
  width: 5%;
  text-align: center;
  height: 120px;
  padding-top: 50px;
  cursor: pointer;
}
.select-trigger {
  display: block;
  padding-top: 22px;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  padding-bottom: 22px;
}

.select-trigger.select-trigger-light {
  background-color: #fafafa;
}

.select-trigger .check {
  //background: url(/assets/circle.png) no-repeat;
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
}

.select-trigger .product-header {
  height: 86px;
}

.select-trigger .product-messaging {
  margin: 15px 0 17px 0;
  min-height: 38px;
}

.select-trigger:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
}
.select-trigger.disabled {
  cursor: default;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: none;
  color: #aaaaaa;
}
.select-trigger .selected {
  //background: url(/assets/check.png) no-repeat;
}

.select-trigger.selected {
  border-color: #AEEEE1;
}

.select-trigger ul {
  text-align: left;
  margin: 0 24px 0 60px;
  color: #666;
  font-size: 14px;
  line-height: 1.25;
  padding-bottom: 20px;
}

.list-circle {
  list-style: circle outside;
}

.select-trigger li:empty {
  display: none;
}

.select-trigger li {
  margin-bottom: 16px;
}

.product {
  margin-bottom: 5px;
}

.price {
  opacity: 0.6;
  font-size: 16px;
}

.column-prev-next.disabled {
  color: #aaaaaa;
  cursor: default;
}
