@import "style/jumbotron";
@import "style/utils/pre";
@import "style/utils/loading";
@import "style/utils/variables";
@import "style/layout/bottom";

@import "style/layout/content";

@import "style/calendar/main";
@import "style/components/popover";
@import "style/components/hero";
@import "style/components/search";
@import "style/medium";
@import "style/layout/services";
@import "style/layout/article";
//@import "style/components/nav";
@import "style/components/about";
@import "../node_modules/sweetalert2/src/sweetalert2.scss";



.PostActionButton {
  position: absolute;
  left: auto;
  right: 3rem;
  top: 1.25rem;
  &:hover {
    color:#000;
  }
}

.spacer {
  padding-top: 3em;
}


h3 {
  margin: 0;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 50px;
}

.spacer-top {
  margin-top: 15px;
}

.sidebar-nav h4 {
  margin-bottom: 20px;
}

.sidebar-nav ul {
  margin-bottom: 0;
}

.sidebar-nav li {
  margin-bottom: 10px;
  font-size: 90%;
}

.sidebar-nav a:not(.active) {
  color: #777;
}

.sidebar-nav a:hover {
  color: #0275d8;
  text-decoration: none;
}

.sidebar-nav a.active {
  color: #373a3c;
  font-weight: 700;
}

.segment {
  padding: 3em 0;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.label {
  font-size: .8rem;
  margin-bottom: .2em;
  font-weight: 400;
}
.title {
  font-size: 2.2rem;
  margin: 0;
  font-weight: 600;
}

.loader, .title {
  -webkit-transition: opacity .45s linear,-webkit-transform .45s cubic-bezier(.175,.885,.32,1.275);
  transition: opacity .45s linear,transform .45s cubic-bezier(.175,.885,.32,1.275);
}
.loader, .loader::after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.loader {
  margin: 50px auto;
  position: relative;
  text-indent: -9999em;
  border-top: 7.5px solid rgba(0,0,0,.1);
  border-right: 7.5px solid rgba(0,0,0,.1);
  border-bottom: 7.5px solid rgba(0,0,0,.1);
  border-left: 7.5px solid #AEEEE1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear;
}


.root {
  padding: 0;
}
.root {
  //cursor: progress;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: transparent;
  color: #384368;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-family: avenir-semibold,Helvetica,sans-serif;
  padding: 0 3rem;
}
* {
  box-sizing: inherit;
  pointer-events: inherit;
}
*, button {
  outline: 0;
}


