:host {
  display: block;
}
.help-categories__row {
  margin: 0 auto 60px;
  max-width: 980px;
  text-align: center;
}

@media (min-width: 480px) {
  .help-categories__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .help-categories__row {
    margin: 0 auto 90px;
  }
}

.help-categories__col {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
  .help-categories__col {
    display: block;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 50%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 960px) {
  .help-categories__col {
    display: block;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333333%;
    min-height: 1px;
    box-sizing: border-box;
  }
}

.help-categories__item {
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  max-width: 250px;
  min-height: 150px;
  max-height: 170px;
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    padding-bottom: 72%;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: #f6f7f9;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.04);
    -webkit-transition-property: top, bottom, left, right;
    transition-property: top, bottom, left, right;
    -webkit-transition-duration: .25s;
    transition-duration: 0.25s;
  }
}

@media (min-width: 480px) {
  .available.help-categories__item:hover:after {
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
  }
}

@media (min-width: 960px) {
  .help-categories__item {
    max-height: none;
    max-width: none;
    height: 210px;
  }
}

@media (min-width: 480px) and (max-width: 959px) {
  .help-categories__col {
    &:nth-child(odd) .help-categories__item {
      margin-right: 0;
    }
    &:nth-child(even) .help-categories__item {
      margin-left: 0;
    }
  }
}
